<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Almacen" formControlName="storageId">
              <mat-option *ngFor="let storage of storages" [value]="storage.id">
                {{ storage.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['storageId'].hasError('required')">
              El almacen es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Producto" formControlName="productId" (selectionChange)="onProductChange()">
              <mat-option *ngFor="let prod of products" [value]="prod.id">
                {{ prod.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['productId'].hasError('required')">
              El producto es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo de movimiento" formControlName="type">
              <mat-option *ngFor="let t of types" [value]="t.id">
                {{ t.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['type'].hasError('required')">
              El tipo de movimiento es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad" formControlName="quantity">
            <mat-error *ngIf="productForm.controls['quantity'].hasError('required')">
              La cantidad es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Unidad" formControlName="unit">
              <mat-option *ngFor="let u of filteredUnits" [value]="u.abbreviation">
                {{ u.abbreviation }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['type'].hasError('required')">
              El tipo de movimiento es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Observaciones" formControlName="observations">
            <mat-error *ngIf="productForm.controls['observations'].hasError('required')">
              Detalles es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-raised-button color="secundary" type="button" routerLink="/inventory/product-movements">Atras</button>
    </mat-card-actions>
  </mat-card>
</form>
