.git
.squad
.copilot
**/node_modules
**/dist
**/bin
**/obj
**/*.user
**/*.suo
**/*.cache
**/TestResults
__blobstorage__
__queuestorage__
__azurite_db_blob__.json
__azurite_db_blob_extent__.json
__azurite_db_queue__.json
__azurite_db_queue_extent__.json
