<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Codigo" formControlName="code">
          </mat-form-field>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="name">
            <mat-error *ngIf="productForm.controls['name'].hasError('required')">
              Nombre es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" formControlName="description">
            <mat-error *ngIf="productForm.controls['description'].hasError('required')">
              Descripcion es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Grupo de producto" formControlName="productGroup">
              <mat-option *ngFor="let group of groups" [value]="group.id">
                {{ group.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['productGroup'].hasError('required')">
              Grupo de producto es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Unidad de medida" formControlName="unitOfMeasurement">
              <mat-option *ngFor="let unit of units" [value]="unit.abbreviation">
                {{ unit.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['unitOfMeasurement'].hasError('required')">
              Unidad de medina es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad del contenedor" formControlName="containerQuantity">
            <mat-error *ngIf="productForm.controls['containerQuantity'].hasError('required')">
              Cantidad del contenedor es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Proporcion de merma" formControlName="shrinkRatio">
            <mat-error *ngIf="productForm.controls['shrinkRatio'].hasError('required')">
              Proporcion de merma es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-checkbox [formControl]="productForm.controls['itsInventoriable']">Es inventariable</mat-checkbox>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-raised-button color="secundary" type="button" routerLink="/inventory/products">Atras</button>
    </mat-card-actions>
  </mat-card>
</form>
