<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" formControlName="description">
            <mat-error *ngIf="productForm.controls['description'].hasError('required')">
              Descripcion es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Clasificaciones de producto" formControlName="productClassification">
              <mat-option *ngFor="let classification of classifications" [value]="classification.id">
                {{ classification.description }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="productForm.controls['productClassification'].hasError('required')">
              Clasificacion de producto es <strong>obligatoria</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
      <button mat-raised-button color="secundary" type="button" routerLink="/inventory/product-groups">Atras</button>
    </mat-card-actions>
  </mat-card>
</form>
