VITE_APP_NAME=Opplat Admin
VITE_API_URL=http://localhost:5000
VITE_ADMIN_API_URL=http://localhost:5000
VITE_AUTH_AUTHORITY=http://localhost:8180/realms/opplat
VITE_AUTH_CLIENT_ID=opplat-admin
VITE_AUTH_AUDIENCE=opplat-api
VITE_AUTH_SCOPE=openid profile email offline_access
VITE_AUTH_REDIRECT_PATH=/auth/callback
VITE_AUTH_SILENT_REDIRECT_PATH=/auth/silent-renew
VITE_AUTH_LOGOUT_REDIRECT_PATH=/login
